*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  margin: 30px;
  height: 100vh;
}

.container{
  height: 500px;
  width: 700px;
  padding-top: 30px;
  background-color: rgb(182, 115, 245);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center ;
}

ul li{
  list-style: none;
}