*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(35, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.clock-container{
  width: 50%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: rgb(98, 95, 95);
  border-radius: 10px;
  box-shadow: 4px 2px 5px 0px gray;
}

#time{
  color: rgb(33, 230, 33);
  font-size:xx-large;
  font-weight: 900;
}

#date{
  color: rgb(208, 208, 202);
}